<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="调用WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <调用WebServices.Properties.Settings>
            <setting name="调用WebServices_WebReference_WebService1" serializeAs="String">
                <value>http://127.0.0.1:8092/WebService1.asmx</value>
            </setting>
            <setting name="调用WebServices_WebReference1_WSindex" serializeAs="String">
                <value>http://116.62.18.134:8001/WSindex.asmx</value>
            </setting>
            <setting name="调用WebServices_ServerWebservices_WSindex" serializeAs="String">
                <value>http://116.62.18.134:8001/WSindex.asmx</value>
            </setting>
        </调用WebServices.Properties.Settings>
    </applicationSettings>
</configuration>